{% extends '_base.html' %}


{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <!-- Include the Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  </head>
  <body>
<!-- User Profile Page -->
<!-- User Profile Page -->
<div class="container">
    <h1>User Profile</h1>
    <p>Username: {{ user.username }}</p>
    <p>Topics:</p>
    <ul>
      {% for topic in topics %}
        <li>
          {{ topic.title }}
          <a href="{% url 'blog:topic_detail' topic.id %}" class="btn btn-primary">View Topic</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  
  
  </body>
</html>
{% endblock %}
